<%- include('partials/head') %>

    <h1>Página donde hablamos de nosotros</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci id expedita, sint iure doloribus iste perspiciatis dignissimos voluptas asperiores officia illum quo, incidunt autem repellat cum quibusdam necessitatibus minus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci id expedita, sint iure doloribus iste perspiciatis dignissimos voluptas asperiores officia illum quo, incidunt autem repellat cum quibusdam necessitatibus minus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci id expedita, sint iure doloribus iste perspiciatis dignissimos voluptas asperiores officia illum quo, incidunt autem repellat cum quibusdam necessitatibus minus!</p>

<%- include('partials/footer') %>
