<%- include('partials/head') %>

    <h1>Página de contacto</h1>
    <div>
        <form action="">
            <p>
                <label for="">Nombre:
                    <input type="text">
                </label>
            </p>
            <p>
                <label for="">Email:
                    <input type="email">
                </label>
            </p>
            <p>
                <button type="submit">Enviar</button>
            </p>
        </form>
    </div>
<%- include('partials/footer') %>